img {width: 100%; height: 300px;}
section {margin: 0% 20% ;padding: 1%;}
.button{background: skyblue; text-align: right; width: 100%; font-size: small; }
.board {font-family: 'omyu_pretty';}
.con04 {margin: 0 7%;}
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.slider {width: 100%;margin: 0px auto;}
.slider .slick-slide {margin: 10px;}
.slick-prev:before, .slick-next:before {color: #444444;}
