@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

.con01 {margin: 0 7%;}
.con02 {margin: 5% 17%;flex:1;}
* {
  box-sizing: border-box;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat3 {
  background-color: #444451;
  height: 12px;
  width: 12px;
  margin: 3px;
  padding:0 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.seat3.selected {
  background-color: #68d0fd;
}

.seat3.occupied {
  background-color: #fff;
}

.seat3:nth-of-type(2) {
  margin-right: 18px;
}

.seat3:nth-of-type(6) {
  margin-right: 18px;
}

.seat3:nth-of-type(10) {
  margin-right: 18px;
}

.seat3:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat3:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat3:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.row01 {
  display: flex;
}

p.text span {
  color: #6feaf6;
}
