<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.root.mybatis.board.GenBoardMapper">
	<resultMap type="com.care.root.board.dto.GenBoardDTO" id="genboard">
		<id property="writeNo" column="write_no"/>
		<result property="category" column="category"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="saveDate" column="saveDate"/>
		<result property="viewCount" column="viewCount"/>
		<result property="likes" column="likes"/>
		<result property="id" column="n_id"/>
		<result property="imageName1" column="imageName1"/>
		<result property="imageName2" column="imageName2"/>
		<result property="imageName3" column="imageName3"/>
		<result property="imageName4" column="imageName4"/>
		<result property="imageName5" column="imageName5"/>
		<result property="type" column="type" />
		<result property="keyword" column="keyword" />
	</resultMap>
	
	<resultMap type="com.care.root.board.dto.LikeDTO" id="genLikes">
		<result property="id" column="n_id"/>
		<result property="writeNo" column="write_no"/>
	</resultMap>
	
	<resultMap type="com.care.root.board.dto.ReplyDTO" id="reply">
		<result property="nId" column="n_id"/>
		<result property="cId" column="c_id"/>
		<result property="writeNo" column="write_no"/>
		<result property="replyNo" column="reply_no"/>
		<result property="content" column="content"/>
		<result property="saveDate" column="saveDate"/>
	</resultMap>
	
	<select id="selectBoardCount" resultType="Integer">
		select count(*) from genBoard where category != '공지'
	</select>
	
	<select id="category" resultMap="genboard">
		SELECT * FROM (
		    SELECT * FROM genBoard WHERE category = '공지' ORDER BY saveDate DESC
		) <![CDATA[where rownum <= 4]]>
	</select>
	
	<select id="boardAllList" resultMap="genboard">
		select B.* from(select rownum rn, A.* from
		(select * from genBoard where category != '공지' order by write_no desc)A)B where rn between #{s} and #{e}
	</select>
	
	<insert id="saveWrite">
		insert into genBoard (write_no, category, n_id, title, content, imageName1, imageName2, imageName3, imageName4, imageName5)
		values (genBoard_seq.NEXTVAL, #{category}, #{id}, #{title}, #{content}, #{imageName1, jdbcType=VARCHAR}, #{imageName2, jdbcType=VARCHAR}, #{imageName3, jdbcType=VARCHAR}, #{imageName4, jdbcType=VARCHAR}, #{imageName5, jdbcType=VARCHAR})
	</insert>
	
	<select id="genView" resultMap="genboard">
		select * from genBoard where write_no = #{writeNo}
	</select>
	
	<update id="upViewCount">
		update genBoard set viewCount = viewCount+1 where write_no = #{writeNo}
	</update>
	
	<update id="modify">
		update genBoard set category = #{category}, n_id = #{id}, title = #{title}, content = #{content}, 
						imageName1 = #{imageName1}, imageName2 = #{imageName2}, imageName3 = #{imageName3}, 
									imageName4 = #{imageName4}, imageName5 = #{imageName5} where write_no = #{writeNo}
	</update>
	
	<delete id="genDelete">
		delete from genBoard where write_no = #{writeNo}
	</delete>
	
	<update id="genLikeUpdate">
		update genBoard set likes=likes+1 where write_no=#{writeNo}	
	</update>
	
	<insert id="genLikeInsert">
	    insert into genLikes (n_id, write_no) values (#{id}, #{writeNo})
	</insert>
	
	<select id="genLikeChk" resultType="String">
		select n_id from genLikes where n_id = #{id} and write_no = #{writeNo} 
	</select>
	
	<insert id="addReply">
		insert into replyTable (reply_no, write_no, n_id, content, c_id)
			values(replyTable_seq.NEXTVAL, #{writeNo}, #{nId}, #{content}, #{cId})
	</insert>
	
	<select id="viewRep" resultMap="reply">
		select * from replyTable where write_no = #{writeNo}
	</select>
	
	<delete id="replyDelete">
		delete from replyTable where reply_no=#{replyNo}
	</delete>
	
	<update id="replyModify">
		update replyTable set content=#{content} where write_no=#{writeNo} and reply_no = #{replyNo}	
	</update>
	
	<select id="selectSearch" resultMap="genboard">
		select B.* from
		(select rownum rn, A.* from
			(select * from genBoard where ${type} like '%'||#{keyword}||'%'
					order by write_no desc)A)B where rn between #{s} and #{e}
	</select>

	<select id="selectSearchCount" resultType="Integer">
		select count(*) from
		genboard where ${type} like '%'||#{keyword}||'%'
	</select>
</mapper>